<template name="menu-player">
<!-- <div class="item">
  <div class=""><span ng-bind="currentTrack.user.username"></span></div>
  <i class="right chevron icon divider"></i>
  <div class=""><span ng-bind="currentTrack.title"></span></div>
  <i class="right chevron icon divider"></i>
  <div class="active ">
  	<span class="current-track-position"></span>/<span ng-bind="currentTrack.duration"></span>
  </div>
</div> -->
<div class="item">
<div class="ui large buttons">
  <button class="ui button">
  	<span ng-bind="currentTrack.user.username"></span>
  </button>
  <div class="or" data-text=">"></div>
  <button class="ui button">
  	<span ng-bind="currentTrack.title"></span>
  </button>
  <div class="or" data-text=">"></div>
  <button class="ui button">
  	<span class="current-track-position"></span>/<span ng-bind="currentTrack.duration"></span>
  </button>
</div>
</div>
</template>