/*MENU*/
.main-menu-container {
	height: 70px;
}

.content-container {
	margin-top: 70px !important;
	/*margin-bottom: 14px !important;*/
	/*background-color: orange;*/
	background-color: rgb(209,84,22);
	background-image: url("images/white-brushed.png");
	background-repeat: repeat;
}
.tracks-container, .landing-container {
	margin-top: 14px !important;
	margin-bottom: 14px !important;
}

/*Artwork*/
img.artwork {
	background-color: rgb(209,84,22);
}
.missing-artwork {
	/*background-color: rgb(167,196,21);*/
/*	background-image: url("images/white-brushed.png")*/
}

/*img.playlist-interval-artwork {
	height: 200px;
	width: 200px;
}*/

/*Waveform Filters*/
/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

.waveform-container {
	/*background-color: rgba(236,236,236, 0.5);*/
}
.testfilter {
	/*-webkit-filter: grayscale(1) opacity(0.4);*/
}