<!-- PLAYER Information in top menu of main content -->
<template name="menu-player">
<div class="ui large buttons">
  <button class="ui current-track-title-button button">
    <span ng-bind="currentTrack.title"></span>
  </button>
  <div class="or" data-text="by"></div>
  <button class="ui current-track-username-button button">
  	<span ng-bind="currentTrack.user.username"></span>
  </button>
  <div class="or" data-text="at"></div>
  <button class="ui current-track-position-button button">
  	<span class="current-track-position">0:00</span>/<span ng-bind="currentTrack.gruve.duration"></span>
  </button>
</div>

<!-- Popups -->
<!-- Track popup -->
<div class="ui inverted current-track-title-popup popup">
  <!-- Classes for changing url in selectTrack -->
  <a class="current-artwork-href" target="_blank" ng-click="pauseButton()">
    <img class="current-artwork">
  </a>
</div>
<!-- Artist popup -->
<div class="ui inverted current-track-username-popup popup">
  <a class="current-avatar-href" target="_blank" ng-click="pauseButton()">
    <img class="current-avatar">
  </a>
</div>
<!-- Position popup -->
<div class="ui inverted current-track-position-popup popup">
  <div class="fluid ui three large icon buttons">
    <button class="ui red basic inverted button" 
      ng-click="stopButton()"
      ng-class="gruveState.getPlayingState() == 'stop' ? 'active' : ''">
      <i class="stop icon"></i>
    </button>
    <button class="ui yellow basic inverted button" 
      ng-click="pauseButton()"
      ng-class="gruveState.getPlayingState() == 'pause' ? 'active' : ''">
      <i class="pause icon"></i>
    </button>
      <button class="ui green basic inverted button" 
      ng-click="playButton()"
      ng-class="gruveState.getPlayingState() == 'playing' ? 'active' : ''">
      <i class="play icon"></i>
    </button>
  </div>
  <!--  -->
  <div class="ui divider"></div>
  <!--  -->
  <div class="ui inverted segment">
    <div class="ui inverted large horizontal statistic">
        <div class="text value">
          <span class="current-track-volume"></span>
        </div>
        <div class="text value">
          <h1 class="ui red header">
            <!-- <span class="current-track-mute-status"></span> -->
            <span ng-show="muteStatus" class="current-track-mute-status">Muted</span>

          </h1>
        </div>
    </div>


    <!-- <div class="ui divider"></div> -->
    <div class="fluid ui three large buttons">
      <button class="ui basic inverted icon button" ng-click="volumeDownButton()">
        <i class="large icons">
          <i class="volume up icon"></i>
          <i class="blue corner minus icon"></i>
        </i>
      </button>
      <button class="ui basic inverted icon button" ng-click="volumeUpButton()">
        <i class="large icons">
          <i class="volume up icon"></i>
          <i class="blue corner plus icon"></i>
        </i>
      </button>
      <button class="ui basic inverted icon button" ng-click="volumeMuteButton()">
        <i class="large icons">
          <i class="volume up icon"></i>
          <i class="grey large dont icon"></i>
        </i>
      </button>
    </div>
  </div>
  <!--  -->
  <div class="ui divider"></div>
  <!--  -->

</div>
</template>
<!-- @end PLAYER -->