<!-- INLCUDE BOTH IDLE AND PLAYING PLAYERS -->
<template name="modal-player">
<!-- PLAYER to show when playing, appears after any track has ever been selected-->
<div class="ui basic fullscreen modal player playing">
  <!-- Player -->
  <div class="header">
    <div class="ui grid">
      
      <div class="four wide column">
        <h1 class="large ui left aligned inverted header">
          Listening to...
        </h1>
      </div>
      <div class="three wide column">
        <!-- PLAYER OPTIONS -->
        <div class="fluid ui three large icon buttons">
          <button class="ui red basic inverted button" 
            ng-click="stopButton()"
            ng-class="gruveState.playing == 'stop' ? 'active' : ''">
            <i class="stop icon"></i>
          </button>
          <button class="ui yellow basic inverted button" 
            ng-click="pauseButton()"
            ng-class="gruveState.playing == 'pause' ? 'active' : ''">
            <i class="pause icon"></i>
          </button>
            <button class="ui green basic inverted button" 
            ng-click="playButton()"
            ng-class="gruveState.playing == 'playing' ? 'active' : ''">
            <i class="play icon"></i>
          </button>
        </div>
      </div>
      <div class="three wide column">
        <!-- QUEUEING OPTIONS -->
        <div class="fluid ui two large icon buttons">
          <button class="ui basic inverted button" ng-click="backwardButton()">
            <i class="backward icon"></i>
          </button>
          <button class="ui basic inverted button" ng-click="forwardButton()">
            <i class="forward icon"></i>
          </button>
        </div>
      </div>
      <div class="three wide column">
        <!-- PLAYBACK OPTIONS -->
        <div class="fluid ui three large icon buttons">
          <button class="ui blue basic inverted button" 
            ng-click="playbackButton('linear')" 
            ng-class="queue.type == 'linear' ? 'active' : ''">
            <i class="long arrow right icon"></i>
          </button>
          <button class="ui blue basic inverted button" 
            ng-click="playbackButton('shuffle')" 
            ng-class="queue.type == 'shuffle' ? 'active' : ''">
            <i class="random icon"></i>
          </button>
            <button class="ui blue basic inverted button" 
            ng-click="playbackButton('repeat')" 
            ng-class="queue.type == 'repeat' ? 'active' : ''">
            <i class="repeat icon"></i>
          </button>
        </div>
      </div>
      <div class="three wide column">
        <!-- PLAYER OPTIONS -->
<!--         <div class="fluid ui three large icon buttons">
          <button class="ui red basic inverted button" 
            ng-click="stopButton()"
            ng-class="gruveState.getPlayingState() == 'stop' ? 'active' : ''">
            <i class="stop icon"></i>
          </button>
          <button class="ui yellow basic inverted button" 
            ng-click="pauseButton()"
            ng-class="gruveState.getPlayingState() == 'pause' ? 'active' : ''">
            <i class="pause icon"></i>
          </button>
            <button class="ui green basic inverted button" 
            ng-click="playButton()"
            ng-class="gruveState.getPlayingState() == 'playing' ? 'active' : ''">
            <i class="play icon"></i>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="content">
    <!-- PLAYING STATE -->
    <div class="ui grid">
      <!-- Track artwork -->
      <div class="four wide column">
        <img class="ui large image current-artwork">
      </div>
      <!-- Track information -->
      <div class="nine wide column">
        <div class="ui raised basic black inverted segment">
          <!-- current-track-info: artist and track title -->
          <h1 class="ui left aligned inverted header current-track-info">
            <span class="current-username" ng-bind="currentTrack.user.username"></span>
            <div class="ui inverted horizontal divider">track</div>
            <span class="current-title" ng-bind="currentTrack.title"></span>
            <div class="ui inverted horizontal divider">at</div>
            <!-- current-track-progress: position / duration -->
            <h1 class="ui center aligned inverted header current-track-progress">
              <span class="current-track-position"></span>/<span ng-bind="currentTrack.gruve.duration"></span>
            </h1>
          </h1>
        </div>
      </div>
      <!-- Previous/Next -->
      <div class="three wide column">
        <div class="ui two column grid">
          <!-- Previous Song -->
          <div class="column">
            <div class="ui card">
              <div class="image">
                <div class="ui top attached label">
                  <h4 class="ui center aligned header">
                    <i class="backward icon"></i>
                    <!-- Previous -->
                  </h4>
                </div>
                <img class="ui fluid image previous-artwork" src="images/missing.png">
              </div>
            </div>
          </div>
          <!-- Next Song -->
          <div class="column">
            <div class="ui card">
              <div class="image">
                <div class="ui top attached label">
                  <h4 class="ui center aligned header">
                    <!-- Next -->
                    <i class="forward icon"></i>
                  </h4>
                </div>
                <img class="ui fluid image next-artwork" src="images/missing.png">
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
  <!-- Actions -->
  <div class="actions">
    <div class="ui black deny button">
      Exit
    </div>
  </div>
</div>

<!-- PLAYER to show up when idle, this only appears before a track has ever been selected -->
<div class="ui basic fullscreen modal player idle">
  <!-- Player -->
  <div class="header">
    <h1 class="ui center aligned olive header">
      <span>You're not listening to anything</span>
    </h1>
  </div>
  <!-- Content -->
  <div class="content">
    <!-- IDLE STATE -->
    <div class="ui inverted center aligned segment">
<div class="ui steps">
  <div class="step">
    <i class="violet calendar icon"></i>
    <div class="content">
      <div class="title">Time</div>
      <div class="description">Choose a week</div>
    </div>
  </div>
  <div class="step">
    <i class="purple music icon"></i>
    <div class="content">
      <div class="title">Music</div>
      <div class="description">Choose a track</div>
    </div>
  </div>
  <div class="step">
    <i class="pink sound icon"></i>
    <div class="content">
      <div class="title">Listen</div>
    </div>
  </div>
</div>
  </div>
  </div>
  <!-- Actions -->
  <div class="actions">
    <div class="ui olive inverted deny button">
      Got it!
    </div>
  </div>
</div>
</template>