<!-- 
TOP MENU:
Navigation
 -->
<div class="ui grid">
	<div class="ui one wide column">
		<a class="item" ng-click="togglePlaylists()">
			<i class="calendar outline icon"></i>
		</a>
	</div>
	<div class="ui one wide column">
		<a class="item" ng-click="togglePlayer()">
			<i class="music icon"></i>
		</a>
	</div>
	<div class="ui fourteen wide column">
		<meteor-include src="menu-player"></meteor-include>
	</div>
</div>

<!-- 
HIDDEN MENU:
PLAYLISTS
 -->
<div class="ui fluid segment playlist-container">
	<div class="ui four column stackable double grid">
		<div class="column" ng-repeat="playlist in playlists">
			<a class="ui button" ng-click="selectPlaylist(playlist.id)">
				<span ng-bind="playlist.title"></span>
			</a>
		</div>
	</div>
</div>
<!-- 
CONTENT:
SONGS	
 -->
<div class="ui attached bottom segment content-container">
	<div class="ui five column stackable grid tracks-container">
		<div class="column" ng-repeat="track in tracks">
			<div class="ui card">
				<div class="small image">
					<img ng-src="{{track.artwork_url}}">
				</div>
				<div class="content">
					<a class="header">
						<span ng-bind="track.title"></span>
					</a>
					<div class="meta">
					  <span class="left floated play">
					  	<i class="play icon"></i>
					  	<span ng-bind="track.playback_count"></span>
					  </span>
					  <span class="right floated heart">
					  	<i class="heart icon"></i>
					  	<span ng-bind="track.favoritings_count"></span>
					  </span>
					</div>
					<div class="description">
						<!-- description here -->
					</div>
				</div>
			  	<div class="extra content">
					<span class="left floated">
						<a ng-click="selectTrack(track.id)">Play</a>
					</span>
					<span class="right floated">
						<a ng-href="{{track.permalink_url}}">See More</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<meteor-include src="modal-player"></meteor-include>