<!-- Content seen when no audio has been initially selected. This page will provide app details -->
<template name="landing">
	<h1 class="ui header">Gruve</h1>
	<p>Things to do:</p>
	<!-- Things I actually need to do -->
	<ul>
		<li>
			Playlist selector in playlist topbar: SVG timeline with straight subway-style path.
		</li>
		<li>
			Playlist display in playlist topbar: .ui.segment. with interval artwork and playlist stats found in .gruve data property of palylist object.<br>
			DATA: [interval(track name, user name, artwork), startDate, endDate, totalDuration]
		</li>
		<li>
			Track queuing: be able to play multiple songs in a row.<br>
			OPTIONS: [shuffle, linear, repeat one, repeat playlist]
		</li>
		<li>
			Modal player: modal player on headphone icon click.<br>
			FIX: align(artwork, trackInfo)<br>
			INCLUDE: [options(playing, volume, track queuing options, prev/next song)]
			TRY: [staticTransitionAnimation(artwork), waveform]
		</li>
		<li>
			Menu payer: inline menu playing in topmenu.<br>
			FIX: constantWidth(trackPopupOptions)
			FIX: position(volumeIndicator, muteStatus)
		</li>
		<li>
			Play random track: feature to reset current audio to random track from random playlist
		</li>
		<li>

		</li>
		<li>
			...
		</li>
		<li>
			Better landing content
		</li>
	</ul>
</template>