<!-- PLAYLISTS DROPDOWN MENU -->
<template name="playlists">
<!-- Current -->
<div class="ui fluid segment current-playlist-container">
	<img ng-src="currentPlaylistIntervalArtwork">

</div>
<!-- List -->
<div class="ui fluid segment playlist-container">
	<div class="ui four column stackable double grid">
		<div class="column" ng-repeat="playlist in playlists">
			<a class="ui button" ng-click="selectPlaylist(playlist.id)">
				<span ng-bind="playlist.title"></span>
			</a>
		</div>
	</div>
</div>
</template>