<!-- PLAYLISTS DROPDOWN MENU -->
<template name="playlists">
<div class="ui fluid inverted segment current-playlist-container">
<!-- Current Playlist -->
	<div class="ui segment" ng-show="currentPlaylist">
		<div class="ui items" >
		<div class="item">
			<div class="small image">
				<img class="playlist-interval-artwork">
			</div>
			<div class="content">
				
				<div class="header">
					<div class="ui statistics">
						<div class="statistic">
							<span><strong>From</strong></span>
							<div class="text value"><span ng-bind="currentPlaylist.fromDate"></span></div>
						</div>
						<div class="statistic">
							<span><strong>To</strong></span>
							<div class="text value"><span ng-bind="currentPlaylist.toDate"></span></div>
						</div>
					</div>
				</div>
				<div class="meta">
					<span ng-bind="currentPlaylist.duration"></span> milliseconds
				</div>

			</div>
		</div>
		</div>
	</div>
<!-- List prototype -->
<div style="overflow-x: scroll">
<svg height="200px" width="100000px">
    <filter id="image" x="0%" y="0%" width="100%" height="100%">
        <feImage xlink:href="images/missing.png"/>
    </filter>
	<path d="M 50 100 L 100000 100" stroke="white" stroke-width="5"/>
	<circle cx="50" cy="100" r="30" filter="url('#image')"></circle>
</svg>
</div>
<!-- List -->
	<div class="ui four column stackable double grid">
		<div class="column" ng-repeat="playlist in playlists">
			<a class="ui button" ng-click="selectPlaylist(playlist.id)">
				<span ng-bind="playlist.title"></span>
			</a>
		</div>
	</div>

</div>
</template>